@font-face {
    font-family: 'GMarket Sans TTF';
    src: url('./fonts/GmarketSansTTFMedium.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'NanumSquare';
    src: url('./fonts/NanumSquareB.ttf') format('truetype');
    font-weight: 700;
    font-style: normal;
}

@font-face {
    font-family: 'Lora';
    src: url('./fonts/Lora-Bold.ttf') format('truetype');
    font-weight: 700;
    font-style: normal;
}
